<header class="page-header">
  <h1>Shop Stats</h1>
</header>

<h4 class="alert alert-info">Total Products: <%= @products_count %></h4>
<h4 class="alert alert-info">Total Categories: <%= @categories_count %></h4>

